<app-card-shimmer-detalle-producto *ngIf="loadcard"></app-card-shimmer-detalle-producto>
<div class="container animated fadeIn mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-5" style="border: none;">
        <div class="row no-gutters">
          <div class="col-md-4" style="height: 85%;" >
            <!-- 
              <img [src]="producto.poster_path | imagen" class="card-img boxp" height="85%" alt="...">
             -->
             <img [src]="producto.poster_path" class="card-img boxp" height="85%" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="height: 100%;">
              <h5 class="card-title family-700">{{producto.title}}</h5>
              <p class="card-text family-400">{{producto.overview}}</p>
              <p class="family-500 size-18">{{producto.vote_average | currency: 'USD':true}}</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
