

    <div class="form-group row">
        <div class="col-12" *ngFor="let item of dataStoreEdit">
            <textarea   disabled="true" 
                        class="width-100 family-400 pt-3 size-16" 
                        style="min-height: 250px; border:none;">{{item.description}}</textarea>
        </div>
    </div>