

<section class="display-flex">

    <div class="container-fluid">
        <div class="row">
        
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <app-banner-tienda></app-banner-tienda>

                <div class="container pt-3 pb-4" *ngFor="let data of dataStore"> 
                    <div class="row">
                        <div class="col-md-6 pl-4">
                            <h5 class="name-store family-600 size-27 pl-2">
                                {{data.name}}
                            </h5>
                            <span  class="pl-2 family-300 size-16">
                               RUT {{data.rut}}
                            </span>
                            
                        </div>
                    </div>
                </div>

                <app-card-shimmer-title-store *ngIf="cardShimmerInputs"></app-card-shimmer-title-store>



                <form   [formGroup]="forma" 
                        (ngSubmit)="actualizarDatosStore()" 
                        novalidate="novalidate"
                        >

                        

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 pl-4">

                                <div class="display-flex">

                                    <span class="orange family-500 size-18">Datos del negocio</span>
                                    
                                    <button class="button-edit family-400 ml-3" 
                                            (click)="atrasDescripcion()"
                                            *ngIf="editarDescripcion">
                                            Atrás
                                    </button>

                                    <button class="button-edit family-400 ml-3" 
                                            (click)="EditarDescripcion()"
                                            *ngIf="!editarDescripcion">
                                            Editar
                                    </button>
                                
                                </div>

                                <!--======================================================================-->
                                <!--================== DESCRIPCIÓN DE LA TIENDA  EDITABLE ==================-->
                                <app-contact-description-edit   *ngIf="editarDescripcion" 
                                                                class="animated fadeIn" 
                                                                [forma]="forma">
                                </app-contact-description-edit>

                                

                                <!--======================================================================-->
                                <!--====================== End DESCRIPCIÓN DE LA TIENDA  ===================-->

                                <!--======================================================= =============-->
                                <!--================== PARRAFO DESCRIPCIÓN DE LA TIENDA =================-->
                                <app-contact-description *ngIf="!editarDescripcion"></app-contact-description>
                                <app-card-shimmer-table-informacion *ngIf="cardShimmerInputs"></app-card-shimmer-table-informacion>
                                <!--======================================================================-->
                                <!--================= END PARRAFO DESCRIPCIÓN DE LA TIENDA ===============-->

                            </div>
                            <div class="col-md-6">
                                <div class="display-flex">

                                    <span class="orange family-500 size-18">Información de contacto</span>
                                    <button class="button-edit family-400 ml-3" 
                                            (click)="atras()"
                                            *ngIf="editar">
                                            Atrás
                                    </button>

                                    <button class="button-edit family-400 ml-3" 
                                            (click)="Editar()"
                                            *ngIf="!editar">
                                            Editar
                                    </button>
                                
                                </div>

                                <!-- ================ INFORMACIón DE CONTACTO EDITABLE ===================-->
                                <app-contact-information-edit   *ngIf="editar" 
                                                                class="animated fadeIn" 
                                                                [forma]="forma">
                                </app-contact-information-edit>

                               <app-card-shimmer-table-informacion *ngIf="cardShimmerInputs"></app-card-shimmer-table-informacion>

                                <!--======================================================================-->

                                <!-- ====================END INFORMACIón DE CONTACTO======================-->

                                <!-- ================ TABLA INFORMACIón DE CONTACTO ======================-->
                                <app-contact-information *ngIf="!editar" class="width-90"></app-contact-information>
                                <!--======================================================================-->
                                <!-- ====================END TABLA INFORMACIón DE CONTACTO================-->

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <span class="orange family-500 size-20 pl-2">Horario</span>
                                    <button class="button-edit family-400 ml-3" 
                                            (click)="atrasHorario()"
                                            *ngIf="editar">
                                            Atrás
                                    </button>

                                    <button class="button-edit family-400 ml-3" 
                                            (click)="EditarHorario()"
                                            data-toggle="modal" 
                                            data-target="#staticBackdrop"
                                            type="button"
                                            *ngIf="!editar">
                                            Editar
                                    </button>
                                   
                                <app-schedule-store></app-schedule-store>
                                <app-shedule-store-edit></app-shedule-store-edit>
                            </div>
                            
                            <div class="col-md-8 mb-4">

                                <!-- ==================  GOOGLE MAPS================= -->
                                <!-- ===============================================  -->
                                <app-mapa class="animated fadeIn" (adrees_latitude)="adress_latitude($event)" (adress_longitude)="adress_longitude( $event )"></app-mapa>
                                <!-- ================================================ -->
                                <!-- ===================END GOOGLE MAPS============== -->
                            </div>
                            
                        </div>
                    </div>

                    <button class="btn btn-outline-primary fredoka"
                            type="submit"
                            (click)="Actualizar()">
                        Guardar cambios
                    </button>

                </form>

            </div>
            
        </div>
    </div>
</section>

<!-- ===========================================-->
<!-- ========== Horario del Negocio MODAL  ============-->
<!-- ===========================================-->
<div    class="modal fade" 
        id="staticBackdrop" 
        data-backdrop="static" 
        data-keyboard="false" 
        tabindex="-1" 
        aria-labelledby="staticBackdropLabel" 
        aria-hidden="true"
        >

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="family-400 size-14" 
                        id="staticBackdropLabel">
                        Horario
                    </h5>

                    <button type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-label="Close">

                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <!-- =================SELECTED HOUR switch=================-->
                            <!-- ======================================================-->
                                <div    class="col-md-12 display-flex align-items-center p-10" 
                                        *ngFor="let item of Day; let i = index">

                                    <label class="family-500 black size-16 col-md-2 pt-2 pb-2">
                                        {{item.dia}}
                                    </label>

                                    <mat-slide-toggle   class="ml-2" (change)="toogle($event, i)">
                                        {{item.isChecked}}
                                    </mat-slide-toggle>
                                    <div class="display-flex justify-content-around width-100">
                                        <div    class="width-100 display-flex pl-4 flex-direction-column" 
                                                *ngIf="item.isChecked === 'Abierto'"
                                                id="parentElement">

                                            <form   (ngSubmit)="SendSchedule()" 
                                                    [formGroup]="schedule" 
                                                    id="createForms{{i}}"
                                                    #sheduleform 
                                                    class="display-flex align-items-center"
                                                    >

                                                <div class="form-group display-flex flex-direction-column">
                                                    <label class="family-400 size-12">
                                                        Abre a las
                                                    </label>
            
                                                    <nz-time-picker 
                                                                    [(ngModel)]="item.selectOpenHour" 
                                                                    nzFormat="HH:mm"
                                                                    class="mr-3"
                                                                    formControlName="open{{i}}"
                                                                    (nzOpenChange)="log($event, i, item.dia)">
                                                    </nz-time-picker>
                                                </div>
            
                                                <div class="form-group display-flex flex-direction-column">
                                                    <label class="family-400 size-12">
                                                        Cierra a las
                                                    </label>
                                                    <nz-time-picker [(ngModel)]="item.selectCloseHour" 
                                                                    nzFormat="HH:mm"
                                                                    formControlName="close{{i}}"
                                                                    (nzOpenChange)="log($event, i, item.dia)">
                                                    </nz-time-picker>
                                                </div>

                                                <button mat-button color="primary" 
                                                        class="ml-2 addbutton" 
                                                        id="addButton{{i}}" 
                                                        (click)="addNewHour(i)">
                                                        Añadir horario
                                                </button>
                                                <!-- <input type="submit" id="submit{{i}}" class="hidden" /> -->
                                            </form>

                                            <section class="display-flex display-none" id="{{i}}">
                                                <div class="form-group display-flex flex-direction-column">

                                                    <label class="family-400 size-12">
                                                        Abre a las
                                                    </label>
            
                                                    <nz-time-picker [(ngModel)]="item.lateShiftOpen" 
                                                                    nzFormat="HH:mm" 
                                                                   
                                                                    class="mr-3">
                                                    </nz-time-picker>
                                                    
                                                    
            
                                                </div>
            
                                                <div class="form-group display-flex flex-direction-column">
                                                    <label class="family-400 size-12">
                                                        Abre a las
                                                    </label>
            
                                                    <nz-time-picker [(ngModel)]="item.lateShiftClose" 
                                                                    nzFormat="HH:mm" 
                                                                    
                                                                    class="mr-3">
                                                    </nz-time-picker>
                                                </div>
                                                <button mat-button color="primary" class="ml-2 cancel" (click)="cancel(i)">Cancelar</button>
                                            </section>
                                            
                                        </div>
                                        
                                    </div>
                                    <!-- <label for="submit{{i}}">Submit</label> -->
                                </div>
                            <!-- ======================================================-->
                            <!-- ======================================================-->
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-secondary" 
                            data-dismiss="modal">
                            Cerrar
                    </button>

                    <button type="button"
                            id="guardar"
                            (click)="enviarShedules()"
                            class="btn btn-primary"
                            >
                            Aceptar
                    </button>
                    
                </div>
               
                
            </div>
        </div>
</div>

