.h2-title{
    color: #0e1318;
    font-size: 2.1rem;
    letter-spacing: -.05rem;
}

.button{
    background-color: #F09207 !important;
    border: none !important;
    cursor: pointer;
    color: white !important;
}

.cancel{
    background-color: #b9b9b9 !important;
    border: none !important;
    cursor: pointer;
    color: white !important;
}

.text{
    color: rgba(47,64,80,.32);
    font-size: 0.82rem;
}

.fatherDiv{
    margin-top: 12px;
}

.footer{
    font-size: 0.72rem;
}

.separation{
    margin-bottom: 8px;
    background-color: #edf0f2;
    border-radius: 8px;
    height: 4px;
}

.active{
    background:rgb(241, 241, 241) ;
}

.sidebar-nav{
    padding: 25% 0 0 0px !important;
}


.input {
    background-repeat: no-repeat;
    background-position-y: center;
    padding-right: calc(1.5em + .75rem);
    padding-left: calc(1.5em + .75rem);
    background-position: right calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback{font-size: 0.79rem !important;}
/* Icononos de Boostrap 4 */

.form-control.is-valid{
    background-image: url(../../../assets/img/iconos/icons-main/icons/unlock.svg);
    background-size: calc(.45em + .375rem) calc(.75em + .375rem);
}
.email-icon{background-image: url(../../../assets/img/iconos/icons-main/icons/lock.svg) !important;}

.form-control{
    font-size: 0.89rem !important;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: black;
    line-height: 1.6;
}

.scrool{overflow: auto;}

/* Estilos personalizados de Scrool */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background: #eaeaea;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1260px !important;
    }
}
