

<div id="main-wrapper">
    <app-navbarstore id="header"></app-navbarstore>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper animated fadeIn">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="container pt-4">
                <div class="row">

                       
                        <app-card-shimmer-form-configuration    class="col-md-6 animated 
                                                                fadeIn" 
                                                                *ngIf="card_shimmer">
                        </app-card-shimmer-form-configuration>

                        <!-- ============================================================== -->
                        <!-- Formulario de Configuración  -->
                        <!-- ============================================================== -->
                        <form   [formGroup]="forma"
                                (ngSubmit)="ActualizarDatosUser(forma.value)" 
                                novalidate="novalidate"
                                *ngFor="let data of datosUsuario"
                                class="col-md-6"
                                >

                            <div class="row">

                                <h2 class="OpenSans-700 pl-3 pb-3 h2-title">
                                    Configuración de tu cuenta
                                </h2>

                                <div class="col-md-12">

                                    <div class="form-group row mb-0 mt-4">
                                        <div class="col-12">
                                            <h5 class="family-500 orange">
                                                Información de contacto
                                            </h5>
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
                                            
                                            <mat-label class="OpenSans-600 size-12">
                                                Nombre de usuario
                                            </mat-label>

                                            <input  class="form-control"
                                                    type="text"
                                                    placeholder="Ingresa tú nombre de usuario"
                                                    formControlName="username"
                                                    [ngModel]="data.username"
                                                    [ngClass]="{'is-invalid':  (!forma.controls['username'].valid || forma.controls['username'].errors?.minlength)&& forma.controls['username'].touched, 'is-valid': forma.controls['username'].valid }"     
                                            >

                                            <mat-error  *ngIf="forma.get('username').errors?.required"  
                                                        class="invalid-feedback">
                                                        Ingresa un nombre de usuario para mostrar que sea valido
                                            </mat-error>

                                            <mat-error  *ngIf="forma.get('username').errors?.minlength"  
                                                        class="invalid-feedback">
                                                        Por lo menos 5 caracteres
                                            </mat-error>

                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
                                            <mat-label  class="OpenSans-600 size-12">
                                                Nombre y Apellido
                                            </mat-label>
                                            <input  class="form-control"
                                                    type="text"                                  
                                                    formControlName="name"
                                                    [ngModel]="data.name"
                                                    [ngClass]="{'is-invalid':  (!forma.controls['name'].valid || forma.controls['name'].errors?.minlength)&& forma.controls['name'].touched, 'is-valid': forma.controls['name'].valid }" 
                                                    
                                            >

                                            <mat-error  *ngIf="forma.get('name').errors?.required"  
                                                        class="invalid-feedback">
                                                        Ingresa un nombre para mostrar que sea valido.
                                            </mat-error>

                                            <mat-error  *ngIf="forma.get('name').errors?.minlength"  
                                                        class="invalid-feedback">
                                                        Por lo menos 5 caracteres.
                                            </mat-error>
                                    
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
                                            <mat-label  class="OpenSans-600 size-12">
                                                Correo
                                            </mat-label>
                                            <input  class="form-control email-icon"
                                                    type="email"
                                                    value = {{items.email}}
                                                    placeholder="Correo electrónico"
                                                    formControlName="email"
                                                    disabled="true"
                                                    [ngModel]="data.email"
                                                    [ngClass]="{'is-invalid':  (!forma.controls['email'].valid || forma.controls['email'].errors?.minlength)&& forma.controls['email'].touched, 'is-valid': forma.controls['email'].valid }" 
                                            >

                                            <mat-error  *ngIf="forma.get('email').errors?.required"  
                                                        class="invalid-feedback">
                                                        Agrega una dirección de correo electrónico para poder iniciar
                                                        sesión con tu dirección de correo electrónico.
                                            </mat-error>

                                            <mat-error  *ngIf="forma.get('email').errors?.minlength"  
                                                        class="invalid-feedback">
                                                        Por lo menos 5 caracteres.
                                            </mat-error>

                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
                                            <mat-label class="OpenSans-600 size-12">
                                                Telefono
                                            </mat-label>
                                            <input  class="form-control icon-phone input"
                                                    type="text"
                                                    placeholder="Ingrese telefono"
                                                    formControlName="phone"
                                                    [ngModel]="data.phone"   
                                                    [ngClass]="{'is-invalid':  (!forma.controls['phone'].valid || forma.controls['phone'].errors?.minlength)&& forma.controls['phone'].touched, 'is-valid': forma.controls['phone'].valid }" 
                                            >

                                            <mat-error  *ngIf="forma.get('phone').errors?.required"  
                                                        class="invalid-feedback">
                                                        Ingresa tu número teléfonico.
                                            </mat-error>

                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <h5 class="family-500 orange">
                                                Contraseña
                                            </h5>
                                        </div>
                                    </div>
                
                
                                    <div class="form-group row">
                                        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
                                            <mat-label class="OpenSans-600 size-12">
                                                Nueva contraseña
                                            </mat-label>
                                            <input  class="form-control"
                                                    type="password"
                                                    placeholder="Contraseña"
                                                    formControlName="password1"
                                                    [ngClass]="{'is-invalid':  (!forma.get('password1').valid || forma.get('password1').errors?.minlength)&& forma.get('password1').touched, 'is-valid': forma.get('password1').valid }"
                                            >

                                            <mat-error  *ngIf="forma.get('password1').errors?.required"  
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                            </mat-error>

                                            <mat-error  *ngIf="forma.get('password1').errors?.minlength"  
                                                        class="invalid-feedback">
                                                        La contraseña debe tener al menos 8 caracteres
                                            </mat-error> 
                                
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
                                            <mat-label class="OpenSans-600 size-12">
                                                Repita contraseña
                                            </mat-label>
                                            <input  class="form-control"
                                                    type="password"
                                                    placeholder="Confirma contraseña"
                                                    formControlName="password2"
                                                    [ngClass]="{'is-invalid':  (!forma.get('password2').valid || forma.get('password2').errors?.minlength)&& forma.get('password2').touched, 'is-valid': forma.get('password2').valid }"
                                            >

                                            <mat-error  *ngIf="forma.get('password2').errors?.required"  
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                            </mat-error>

                                            <mat-error  *ngIf="forma.get('password2').errors?.minlength"  
                                                        class="invalid-feedback">
                                                        La contraseña debe tener al menos 8 caracteres
                                            </mat-error> 
                                
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <h5 class="family-500 orange">
                                                Cuentas conectadas
                                            </h5>
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <p>Servicios que usas para iniciar sesión en founduss</p>
                
                                            <div class="display-flex align-items-center">
                                                <i class="fas fa-trash-alt mr-4"></i>
                                                <img src="../../../assets/img//LoginIconos/Google.svg" width="7%">
                                                <span class="pl-1">Google</span>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="form-group row mb-0 mt-4">
                                        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
                                            <h5 class="family-500 orange">
                                                Desactivar mi cuenta
                                            </h5>

                                            <p class="size-14">
                                                Si desactivas tu cuenta ya no podrás acceder
                                                a tu tienda, ni iniciar sesión en founduss. 
                                                Si quieres desactivar es´ta cuenta, está no se eliminaráapp-categorias,
                                                <span class="family-500 orange">
                                                    para eliminar tu cuenta ponte en contacto con nuestro equipo de ayuda
                                                </span>
                                            </p>

                                        </div>
                                        <button type="submit" 
                                                class="btn btn-outline-primary btn-block fredoka mt-4 col-6 button"
                                                >
                                                Desactivar cuenta
                                        </button>  
                                    </div>
                                </div>
                                
                            </div>
                            <footer class="pt-4 pb-4 pl-0 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <button class="btn btn-outline-secondary width-30 mr-3 fredoka" 
                                        type="submit"
                                        (click)="Reset()"
                                        [disabled]="forma.pristine"       
                                        >
                                        Cancelar
                                </button>
                                <button class="btn btn-outline-primary button width-30 fredoka" 
                                        type="submit"
                                        [disabled]="forma.pristine"
                                        >
                                        Guardar cambios
                                </button>
                            </footer>
                        </form>

                       <!-- ============================================================== -->
                        <!-- SUVIDA DEL AVATAR DEL USUARIO  -->
                        <!-- ============================================================== --> 
                        <section class="col-md-4">
                            <app-photo-user-edit></app-photo-user-edit>
                            <app-photo-user></app-photo-user>
                        </section>
                        <!-- ============================================================== -->
                        <!-- End SUVIDA DEL AVATAR DEL USUARIO -->
                        <!-- ============================================================== -->
                        
                        
                        <!-- ============================================================== -->
                        <!-- End Formulario de Configuración  -->
                        <!-- ============================================================== -->
                   
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->  
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>


