
<div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
</div>
<!-- <div>
    <div    class="card cursor-poniter position-relative height"
            >

            <i  class="material-icons position-absolute left-85 top-5 icon-gris" 
                name="create"
                title="Editar"
                >
                create
            </i>

            <i  class="material-icons position-absolute left-85 top-15 icon-gris" 
                name="delete"
                title="Eliminar"
                data-target="#exampleModalCenter"
                data-toggle="modal"
                (click)="Delete(index)"
                >
                delete
            </i>

            <i  class="material-icons position-absolute left-85 top-25 icon-gris" 
                name=" loop icon"
                title="sincronizar"
                >
                loop
            </i>

            <img    [src]="item.images[0].src_size.xl | imgProductLoad" 
                    class="card-img-top" 
                    alt="{{item.name}}" 
                    *ngIf="item.images.length >= 1"
            >

            <img    src="../../../assets/img/Box/box.svg" 
                    class="card-img-top" 
                    alt="..." 
                    *ngIf="item.images.length === 0"
            >

            <div class="card-body">
                <p class="card-title family-500 size-12" title="{{item.name}} ">
                    {{item.name | slice: 0:30}} 
                    <span *ngIf="item.name.length > 60">...</span>
                </p>
                <p class="card-text family-400 size-11" title="{{item.description}}">
                    {{item.description | slice: 0:oculto}} 
                    <span *ngIf="item.description.length > 50">...</span>
                </p>
                <span class="family-500 size-16 black">
                    {{item.price | currency: 'USD': true:'1.3-3'}} 
                </span>
                <span class="family-500 size-14 black" *ngIf="item.price === null">
                    Precio a consultar
                </span>
            </div>
    </div>
</div> -->

<!-- MODAL ELIMINAR PRODUCTO-->
  
    <div  class="modal fade" 
        id="exampleModalCenter" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalCenterTitle" 
        aria-hidden="true">

        <div    class="modal-dialog modal-dialog-centered" 
                role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="family-400 black">
                        ¿Desea eliminar este producto?
                    </h5>
                    <button type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-secondary" 
                            data-dismiss="modal">
                            No
                    </button>
                    <button type="button" 
                            class="btn btn-primary"
                            data-dismiss="modal"
                            >
                            Eliminar
                    </button>
                </div>
            </div>
        </div>

    </div>
