.degradado{
    background: rgba(241,231,103,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(247,210,88,1) 0%, rgba(254,182,69,1) 43%, rgba(254,182,69,1) 56%, rgba(254,182,69,1) 77%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(0%, rgba(247,210,88,1)), color-stop(43%, rgba(254,182,69,1)), color-stop(56%, rgba(254,182,69,1)), color-stop(77%, rgba(254,182,69,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(247,210,88,1) 0%, rgba(254,182,69,1) 43%, rgba(254,182,69,1) 56%, rgba(254,182,69,1) 77%);
background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(247,210,88,1) 0%, rgba(254,182,69,1) 43%, rgba(254,182,69,1) 56%, rgba(254,182,69,1) 77%);
background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(247,210,88,1) 0%, rgba(254,182,69,1) 43%, rgba(254,182,69,1) 56%, rgba(254,182,69,1) 77%);
background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(247,210,88,1) 0%, rgba(254,182,69,1) 43%, rgba(254,182,69,1) 56%, rgba(254,182,69,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

input {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position-y: center;
    box-sizing: border-box;
    padding-right: calc(1.5em + .75rem);
    padding-left: calc(1.5em + .75rem);
    background-position: left calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

::placeholder{
    font-family: 'Montserrat', sans-serif;font-weight: 500;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    /* This bit draws the box around it */
    border:1px solid rgb(255, 255, 255);
    /* I've used padding so you can see the edges of the elements. */
    padding:5px;
    background: white;
    border-radius: 25px;
  }

  .shadow{
    -webkit-box-shadow: -4px 10px 20px 3px rgba(0,0,0,0.31) !important;
    -moz-box-shadow: -4px 10px 20px 3px rgba(0,0,0,0.31) !important;
    box-shadow: -4px 10px 20px 3px rgba(0,0,0,0.31) !important;
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }
  
  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  button {
    /* Just a little styling to make it pretty */
    border:1px solid black;
    background:black;
    color:white;
    border-radius: 20px;
  }
