<app-navbarstore id="header"></app-navbarstore>
<div class="row">
    <div class="col-md-2 pt-5">
        <app-aside></app-aside>
    </div>
    <div class="col-12 col-sm-12 col-md-10 pt-5">
        <router-outlet></router-outlet>
    </div>
</div>
