figure{position: relative;}
hr{color: rgb(180, 179, 179)}
.hiden{display: none;}
.text-area{min-height: 124px;}
.Display{display: block;}
.height{min-height: 431.36px;}
.figure__icon.material-icons{position: absolute;left: 60%;top: 8%;}
.figure{position: absolute;left: 80%;top: 8%;}


.figure__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    z-index: 3;
    opacity: 0;
}

.card:hover{
    opacity: .6;
    background-color: #fff;
    color: #333;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3), 0 -1px 8px 0 rgba(0,0,0,.3);
    position: relative;
}

.icon-gris{color: #aeaeb8 !important;}



@media (min-width:1201px){
    .card-columns {
        -moz-column-count: 4 !important;
        column-count: 4;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

@media (min-width: 993px) and (max-width:1200px){
    .card-columns {
        -moz-column-count: 3 !important;
        column-count: 3;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}


@media (min-width:768px) and (max-width:992px){
    .card-columns {
        -moz-column-count: 2 !important;
        column-count: 2;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

@media (min-width:100) and (max-width:767px){
    .card-columns {
        -moz-column-count: 2 !important;
        column-count: 2;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

/* @media (min-width: 576px){
    .card-deck {
        display: block !important;
    }
} */



