<!-- Menú redirect to home -->
<app-navbar-to-home></app-navbar-to-home>
<!-- End menú redirect to home -->

<div class="container animated fadeIn" id="storeRegister">
    <div class="row display-flex justify-content-center">
        <div class="col-10 col-sm-9 col-md-7 col-lg-5 col-xl-4 sobreEncima box">

          <div class="display-flex justify-content-center img-login">
            <img class="user-naranja" src="../../../assets/img/LoginIconos/store.svg">
          </div>

            <form [formGroup]="forma" 
                  (ngSubmit)="registrarNegocio()" 
                  novalidate="novalidate"
                  >

              <div class="form-group row mt-5 tex-align-center">
                <div class="col-12">
                    <h5 class="fredoka">Regístro de farmacia</h5>
                </div>
              </div>

              <!---Registro servicio de Google-->
              <app-buttom-google-register></app-buttom-google-register>
              <!---end servicio de Google-->

              <div class="form-group row">
                <div class="input-group col-md-12 justify-content-space-between">
                  <p class="line-low mt-3"></p>
                  <span>o</span>
                  <p class="line-low mt-3"></p>
                </div>
              </div>

                <div class="form-group row">
                  <div class="col-12">
                    <input class="form-control user-name-icon"
                           type="text"
                           placeholder="Nombre de usuario"
                           formControlName="username"
                           [ngClass]="{'is-invalid':  (!forma.controls['username'].valid || forma.controls['username'].errors?.minlength)&& forma.controls['username'].touched || forma.get('username').hasError('not_available'), 'is-valid': forma.controls['username'].valid }" 
                    >
                    
                    <mat-error  *ngIf="forma.get('username').errors?.required"  
                                class="invalid-feedback">
                                Este campo es requerido
                    </mat-error>

                    <mat-error  *ngIf="forma.get('username').errors?.minlength"  
                                class="invalid-feedback">
                                Por lo menos 5 caracteres
                    </mat-error>

                    <mat-error  *ngIf="forma.get('username').hasError('not_available')"  
                                class="invalid-feedback">
                                ¡Este nombre de usuario ya existe!
                    </mat-error>
            
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-12">
                    <input class="form-control user-name-icon"
                           type="text"
                           placeholder="Ingresa tu nombre y apellido"
                           formControlName="name"
                           [ngClass]="{'is-invalid':  (!forma.controls['name'].valid || forma.controls['name'].errors?.minlength)&& forma.controls['name'].touched, 'is-valid': forma.controls['name'].valid }" 
                    >
                    
                    <mat-error  *ngIf="forma.get('name').errors?.required"  
                                class="invalid-feedback">
                                Este campo es requerido
                    </mat-error>

                    <mat-error  *ngIf="forma.get('name').errors?.minlength"  
                                class="invalid-feedback">
                                Por lo menos 5 caracteres
                    </mat-error>
            
                  </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                      <input  class="form-control correo-icon"
                              type="email"
                              placeholder="Correo electrónico"
                              formControlName="email"
                              [ngClass]="{'is-invalid':  (!forma.controls['email'].valid || forma.controls['email'].errors?.minlength)&& forma.controls['email'].touched || forma.get('email').hasError('not_available'), 'is-valid': forma.controls['email'].valid }"
                      >
                
                      <mat-error  *ngIf="forma.get('email').errors?.required"  
                                  class="invalid-feedback">
                                  Este campo es requerido
                      </mat-error>

                      <mat-error  *ngIf="forma.get('email').errors?.pattern"  
                                  class="invalid-feedback">
                                  No posee la forma de un correo: example@gmail.com
                      </mat-error> 

                      <mat-error  *ngIf="forma.get('email').hasError('not_available')"  
                                  class="invalid-feedback">
                                  ¡El email ya ha sido registrado!
                    </mat-error>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                      <input  class="form-control password-icon"
                              type="password"
                              placeholder="Password"
                              formControlName="password1"
                              [ngClass]="{'is-invalid':  (!forma.get('password1').valid || forma.get('password1').errors?.minlength)&& forma.get('password1').touched, 'is-valid': forma.get('password1').valid }"
                      >
                
                      <mat-error  *ngIf="forma.get('password1').errors?.required"  
                                  class="invalid-feedback">
                                  Este campo es requerido.
                      </mat-error>

                      <mat-error  *ngIf="forma.get('password1').errors?.minlength"  
                                  class="invalid-feedback">
                                  La contraseña debe tener al menos 8 caracteres
                      </mat-error> 

                      <mat-error  *ngIf="forma.get('password1').hasError('invalid_password')"  
                                  class="invalid-feedback">
                                  La contraseña debe tener al menos 1 número
                      </mat-error> 
                
                    </div>
                </div>


                <div class="form-group row">
          
                    <div class="col-12">
                        <input  class="form-control password-icon"
                                type="password"
                                placeholder="Repetir Password"
                                formControlName="password2"
                                [ngClass]="{'is-invalid':  (!forma.get('password2').valid || forma.get('password2').errors?.minlength)&& forma.get('password2').touched, 'is-valid': forma.get('password2').valid }"
                        >
                
                      <mat-error  *ngIf="forma.get('password2').errors?.required"  
                                  class="invalid-feedback">
                                  Este campo es requerido.
                      </mat-error>
                
                      <mat-error  *ngIf="((forma.get('password2').value !== forma.get('password1').value) && forma.get('password2').errors?.noiguales)"  
                                  class="invalid-feedback">
                                  ¡Las contraseñas no son iguales!
                      </mat-error> 
                        
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                      <div class="checkbox checkbox-primary  p-t-0">
                        <input type="checkbox" formControlName="terminos" id="checkAceptoTerminos">
                        <label  class="family-500 pl-3 size-13" for="checkAceptoTerminos">
                          Acepto términos y condiciones
                        </label>
                      </div>
                      <p class="family-400 size-12">
                        Haciendo click en Registrar Declarara ser una persona natural y debe ingresar 
                        y aceptar los <a  [routerLink]="['/terminos-ycondiciones']" class="terminos-link family-700">Términos y Condiciones</a> de nuestra plataforma, así como también recibir 
                        correos electrónicos relacionados con miembros y servicios desde Founduss.cl
                      </p>
                    </div>
                </div>

                <div class="form-group row">
                  <div class="input-group col-md-12">
                    <button [disabled]="!forma.valid" 
                            type="submit" 
                            class="btn btn-outline-primary btn-block fredoka"
                            (click)="registrar()"
                            >
                            Regístrarme
                    </button>
                  </div>
                </div>
                
                  <!-- {{forma.valid}}
                  <br>
                  {{forma.status}}
                  <br> -->
                  <!-- <pre>
                    {{forma.value | json}}
                  </pre> -->
                  <br>
                  <br>


            </form>

        </div>
    </div>
</div>
