input[type="file" i] {
    appearance: initial;
    visibility: hidden;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: transparent;
    text-align: start !important;
    padding: initial;
    border: initial;

}